*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 80%;
    margin: auto;
 }

.getDataContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.dataSetTable{
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;;
}
.dataSetTable b{
    font-size: 20px;
    font-weight: 600;
}
.dataSetTable span{
    font-size: 18px;
    font-weight: 500;
    color: gray
}